# pycharm
.idea

# macosx
.DS_Store

# packages/installer info
*.egg
*.egg-info
dist
build
eggs

# compiled files
__pycache__

# docs
docs/api
docs/_build
docs/recipes/data

# editor files
.ipynb_checkpoints

# tests coverage
htmlcov
.coverage
