# pycharm
.idea

# macosx
.DS_Store

# packages/installer info
*.egg
*.egg-info
dist
build
eggs

# compiled files
__pycache__

# checkpoints
.ipynb_checkpoints

# docs
docs/api
docs/_build
docs/recipes/data
docs/recipes/.ipynb_checkpoints
