# core dependencies
astropy
matplotlib
numpy
pandas
scipy
numba
nfft
# test dependencies
codecov
pytest
pytest-cov
# extra dependencies
ipython
# doc dependencies
numpydoc
sphinx
sphinx-automodapi
sphinx_rtd_theme
nbsphinx
